---
layout: default
---
<div id="subscription-page" class="container">
  <form action="/charge" method="post" id="payment-form">
  <section id="plan">
    <h5 class="text-center">Select your subscription Plan</h5>
    <div class="card text-center mx-auto p-3 my-5">
      <div class="card-body">
          <div class="form-group">
            <label for="select-package">Package</label>
            <select class="form-control" id="select-package">
              {% for package in site.data.plan.packages %}
                <option value="{{package.quantity}}">{{package.name}}</option>
              {% endfor %}
              
            </select>
          </div>
      </div>
    </div>
  </section>
  <section id="products" class="text-center">
    <h5 class="text-center">Select your choice of product</h5>
    <div class="container d-flex align-items-center flex-wrap">
        {% for product in site.data.products %}
        <ul class="check-card">
          <li class="card check-card-item">
            <input type="checkbox" id="check{{forloop.index}}" name="check" value="{{product.name}}">
            <label for="check{{forloop.index}}" class="radio"></label>
            <!-- <div class="check-card-bg"></div> -->
            <div class="check-card-body">
              <div class="check-card-toggle">
                <span></span>
                <span></span>
              </div>
              <div class="check-card-body-in">
                <img src="assets/products/{{product.image}}" width="100px">
                <p class="check-card-description mt-2">
                  {{product.name}}
                </p>
              </div>
            </div>
          </li>
          
        </ul>
        {% endfor %}
    </div>
  </section>
  <section id="city">
    <h5 class="text-center">Pick the city and pillar that you would like to support</h5>
    <div class="card text-center mx-auto p-3 my-5">
        <div class="card-body">
            <div class="form-group">
              <label for="select-package">Legacy Impact City</label>
              <select class="form-control" id="select-city">
                {% for city in site.data.cities %}
                  <option value="{{city.name}}">{{city.name}}</option>
                {% endfor %}
                
              </select>
            </div>
            <div class="form-group">
              <label for="select-freq">Pillar</label>
              <select class="form-control" id="select-pillar">
                {% for pillar in site.data.pillars %}
                  <option>{{pillar.name}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
      </div>
  </section>
  <section id="details">
    <h5 class="text-center">Enter Your Details</h5>
    <div class="card mx-auto p-3 my-5">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="addressStreet" class="bmd-label-static">Full Name</label>
            <input type="text" class="form-control" id="fullName" required>
          </div>
          <div class="form-group col-sm-6">
            <label for="addressStreet" class="bmd-label-static">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label for="addressStreet" class="bmd-label-static">Street address</label>
            <input type="text" class="form-control" id="addressStreet" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-4">
          <label for="addressCity" class="bmd-label-static">City</label>
          <input type="text" class="form-control" id="addressCity">
        </div>
        <div class="form-group col-sm-4">
          <label for="addressZip" class="bmd-label-static">Zip</label>
          <input type="text" class="form-control" id="addressZip">
        </div>
        <div class="form-group col-sm-4">
          <label for="addressState" class="bmd-label-static">State</label>
          <input type="text" class="form-control" id="addressState">
        </div>
        </div>
      </div>
    </div>
  </section>
  <section id="payment" style="display: none;">
    <h5 class="text-center">Add Your Payment Method</h5>
    <div class="card text-center mx-auto p-3 my-5">
      <div class="card-body">  
        <div class="form-row">
          <label for="card-element">
            Credit or debit card
          </label>
          <div id="card-element" class="form-control">
            <!-- A Stripe Element will be inserted here. -->
          </div>
      
          <!-- Used to display form errors. -->
          <div id="card-errors" role="alert"></div>
        </div>
      </div>
    </div>
  </section>
  <div id="subscribeDiv" class="text-center" style="display: none;">
    <button id="subscribeButton" class="btn-hover green mb-5 mt-0" >SUBSCRIBE</button>
  </div>
  <div id="updateDiv" class="text-center" style="display: none;">
    <button id="cancelButton" type="button" class="btn-hover red mb-5 mt-0" >CANCEL SUBSCRIPTION</button>
    <button id="updateButton" type="submit" class="btn-hover green mb-5 mt-0" >UPDATE</button>
  </div>
  </form>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script src="js/subscribe.js"></script>