

<h5 class="text-center">Billing</h5>

<div class="card text-center mx-auto my-5">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Amount Paid</th>
            <th scope="col">Contribution (15%)</th>
            <th scope="col">City</th>
            <th scope="col">Pillar</th>
            <th scope="col">URL</th>
            <th scope="col">PDF</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <p class="text-muted text-center">Slide right for more</p>
  </div>
</div>

<div class="text-center">
  <canvas width="50px" id="myChart" class="my-3"></canvas>
  <h5 id="contribution">Total Contributed: </h5>
  <p> Thank you for your constant support to building the inner cities & transforming America!</p>
</div>