<div class="credit-card-box">
  <div class="flip">
    <div class="front">
      <div class="chip"></div>
      <div class="logo">
      </div>
      <div class="number">xxxx-xxxx-xxxx-xxxx</div>
      <div class="card-holder">
        <label>Card holder</label>
        <div>Full Name</div>
      </div>
      <div class="card-expiration-date">
        <label>Expires</label>
        <div>--/--</div>
      </div>
    </div>
    <div class="back">
      <div class="strip"></div>
      <div class="ccv">
        <label>CCV</label>
        <div>---</div>
      </div>
    </div>
  </div>
  </div>