<section id="pillars" class="container-fluid ">
  <div class="row justify-content-center text-center align-items-center ">
    <div class="col-12 col-md-8 text-center" data-aos="fade-up">
      <h1 class="my-auto">Let's Review The 7 Pillars</h1>
    </div>
    {% for pillar in site.data.pillars %}
    <div class="col-12 col-md-4">
      <div class="card mx-auto my-3" data-aos="fade-up">
        <img class="card-img-top mx-auto" src="assets/pillars/{{pillar.image}}" alt="Icon">
        <div class="card-body">
          <h6 class="card-title">{{pillar.name}}</h6>
          <p class="card-text">{{pillar.desc}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section >