<section id="steps">
  <!-- <img src="assets/steps.svg" class="w-100"> -->
  <h2 class="text-center mb-5" data-aos="fade-up"><strong>HOW IT WORKS</strong></h2>
  <div class="row align-items-center">
    <div data-aos="fade-up" class="col-12 col-md-6 order-md-2">
      <img class="mb-3  pr-5 w-100" src="assets/step1-img.svg">
    </div>
    <div data-aos="fade-up" class="col-12 col-md-6 order-md-1 pl-5 mb-5">
        <h3><strong>Step 1</strong></h3>
      <h4>Login or register on our website</h4>
    </div>
  </div>
  <div class="row align-items-center">
    <div data-aos="fade-up" class="col-12 col-md-6 order-md-1">
      <img class="mb-3  pr-5 w-50" src="assets/step2-img.svg">
    </div>
    <div data-aos="fade-up" class="col-12 col-md-6 order-md-2 pl-5 mb-5">
        <h3><strong>Step 2</strong></h3>
      <h4>Pick a subscription package type.</h4>
    </div>
  </div>
  <div class="row align-items-center">
    <div data-aos="fade-up" class="col-12 col-md-6 order-md-2">
      <img class="mb-3  pr-5 w-100" src="assets/step3-img.svg">
    </div>
    <div data-aos="fade-up" class="col-12 col-md-6 order-md-1 pl-5 mb-5">
        <h3><strong>Step 3</strong></h3>
      <h4>Review the list of household products that you want the most.</h4>
    </div>
  </div>
  <div class="row align-items-center">
    <div data-aos="fade-up" class="col-12 col-md-6 order-md-1">
      <img class="mb-3  pr-5 w-100" src="assets/step4-img.svg">
    </div>
    <div data-aos="fade-up" class="col-12 col-md-6 order-md-2 pl-5 mb-5">
      <h3><strong>Step 4</strong></h3>
      <h4>Pick the city and pillar that you would like to support</h4>
    </div>
  </div>
</section>