<section id="bio" class="container-fluid">
  <div class="row">

    <div  class="col-12 col-md-6 order-md-1" data-aos="fade-up">
      <blockquote id="bioText" class="blockquote">
      <h4 class="my-3"><strong>The Moral Imperative to Rebuild Our Inner Cities</strong></h4>
      <p>As a partner and Vice President with a large staffing company, for the past 15 years, I have witnessed thousands of Black Men and Women being processed to secure gainful employment. Oftentimes, the job seekers come from communities that are wrought with poverty, poor educational systems. Most of the jobs in these communities pay wages that are so low that it requires the employee to work long hours to live around the poverty line. This is a vicious cycle as it not only prevents them from an education that can provide them with better paying job options, but it also creates an empty space in their homes, disabling the familial relationships.</p>
      <p> As an Executive with one company who has first-hand experience witnessing this vicious unbroken cycle. I have a moral imperative to break it. I can no longer witness people suffering without making every attempt to use my resources and experience to create a better tomorrow for our community.</p>
      <p>As with all the problems that we encounter, the solution is often hidden on the inside. The answer to this problem persisting in our community lies within us. We must return to and rebuild our inner cities and we must rely on our community, not governmental programs, handouts, or reparations to become the savior to our community. </p>
      
      <footer class="contact ">
          <p><strong>Dr. Tem Morgan</strong></p>
          <p class="text-muted">Tem@morganstandardproducts.com</p>
          <p class="text-muted">1-833-2MORGAN</p>
      </footer>
      </blockquote>
    </div>
    <div id="bioImage" class="col-12 col-md-6 order-md-2 text-center">
      <img src="assets/tem.png" alt="Card image cap">
    </div>
  </div>
</section>
