<section id="what" class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <img class="mb-3" src="assets/can-img.svg" data-aos="fade-up">
    </div>
    <div class="col-12 col-md-6 pl-4" data-aos="fade-up">
      <h4 class="my-3"><strong>What Can You Do Now?</strong></h4>
      <p>We are SUPER EXCITED to announce that we have formulated and created a FIRST EVER full line of household products owned solely by an African American. We have kitchen cleaners, bathroom cleaners, paper towels, paper plates, trash bags and many more! This is our very own! All products are as effective and no different than the every day products you purchase every day but with your CONCIOUS SPENDING you will now know 100% that you monies are going to a worthy cause.</p>
 
        <p>We are launching our full platform Spring 2020 but for a LIMITED TIME ONLY you can pre-order by subscription your inaugural Legacy Brands Household Products! We are taking the first 10,000 subscriptions NOW but after that the inaugural orders will be closed until Spring 2020!</p>
    </div>
  </div>
</section>
