<section id="what" class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 order-md-2">
      <img class="mb-3" src="assets/city-img.svg" data-aos="fade-up">
    </div>
    <div class="col-12 col-md-6 pl-4 order-md-1" data-aos="fade-up">
      <h4 class="my-3"><strong>Which City Can I Send My Money?</strong></h4>
      <p>We have chosen 26 inner cities that have both a large population and a large percentage of African Americans . You simply review the cities and pick one that you would like to make an immediate impact. You do not have to live in the city to want to support it. If you live in an area not on the list simply choose the city that most resonates with you!</p>
    </div>
  </div>
</section>
