<section id="commitment" class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 text-center">
      <img class="mb-3 w-100" src="assets/commit-img.svg" data-aos="fade-up">
    </div>
    <div class="col-12 col-md-6" data-aos="fade-up">
      <h4 class="my-3"><strong>What’s Next? Are You Ready? We Need A Commitment From You!</strong></h4>
      <p>Are You Ready To Be The First Of Your Friends & Family To Purchase Our Inaugural Line Of Legacy Products? Once You Subscribe Make Sure You Share With Your Friends, Families Via Social Media and Tag Your Favorite Artist, Athlete, and Celebrity!</p>
    </div>
  </div>
</section >