<section id="how" class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <img class="mb-3 w-75" src="assets/how-img.svg" data-aos="fade-up">
    </div>
    <div class="col-12 col-md-6 pl-4" data-aos="fade-up">
      <h4 class="my-3"><strong>How does it work?</strong></h4>
      <p>When you have a need for a product or need a service professional just visit the website and you can order straight from us. We will have vendors selling products and services across the United States and cities near you that can fulfill your needs. For every dollar you spend, 15% of the total cost will be allocated to the Legacy City and one of the 7 Economic Pillars (scroll down for more info) that YOU choose! Just select the city and pillar that you want and your money is on it’s way!</p>
    </div>
  </div>
</section >