<section id="mission" class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 order-md-2">
      <img class="mb-3  pr-5 w-100" src="assets/mission-img.svg" data-aos="fade-up">
    </div>
    <div class="col-12 col-md-6 order-md-1" data-aos="fade-up">
      <h4 class="my-3"><strong>Our Mission</strong></h4>
      <p>We have the belief system that the key to our future is that of self reliance and economic independence. We must rebuild our communities to ensure that our children are afforded all of the opportunities of other communities, we must join together and redirect our spending. By making Legacy Brands your conscious purchase you are ensuring that your dollar recirculates in our community and is used to further our cause, Rebuilding Our Community, one purchase at a time.</p>
      <hr>
      <p>Spring 2020 we will launch our very own online platform where you can become a customer, seller, service provider or both! After we launch, you will be able to download the Legacy App on your phone and purchase items or services from OUR platform instead of the others guys'.</p>
    </div>
  </div>
</section >