<section id="what" class="container-fluid">
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <video autoplay muted loop>
        <source src="assets/legacy-brand.mp4" type="video/mp4">
      </video>
    </div>
    <div class="col-12 col-md-6 pl-4" data-aos="fade-up">
      <h4 class="my-3"><strong>What is Legacy Brands?</strong></h4>
      <p>Legacy Brands is OUR online products and services platform dedicated to rebuilding our inner cities. Once you register you can become a customer and buy products or services, OR you can become a vendor and sell your products or services.</p>
    </div>
  </div>
</section>
