---
---

body {
  margin: 0;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(145,640,269)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23fffdf7'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='572' height='476.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 50px;
}

.preloader {
  align-items: center;
  background: rgb(23, 22, 22);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

#auth-btn {
  position: absolute;
  top: 10px;
  right: 20px;
}

#home {
  padding: 0;
  section {
    padding: 20px;
    margin-bottom: 50px;
  }
}

#banner {
  h1 {
    margin-left: 10px;
    margin-top: calc(40vh + 30px);
    margin-bottom: 100px;
  }
  img {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 40vh;
  }
}

#what {
  img {
    width: 80vw;
  }
}

#impact {
  width: 100%;
  color: white;
  margin: 0;
  background-color: #4CAF50;
  font-size: 1.2rem;
}

#pillars {
  background-size: contain;
  background-repeat: no-repeat;
  .card {
    width: 350px;
    font-size: 0.8rem;
    height: 100%;
    padding: 30px 0;
  }
  img {
    width: 100px;
  }
}

#steps {
  img {
    opacity: 80%;
  }
}

#subscription-page #billing .card {
  width: 100%;
  max-width: 1200px;
  white-space: nowrap;
}

.green-text {
  color: #4CAF50
}


@media only screen and (min-width: 576px) {
  #banner {
    img {
      height:60vh;
    }
  }
}

@media only screen and (min-width: 768px) {
  #home {
    section {
      padding: 20px 80px;
    }
  }

  #banner {
    height: 100vh;
    h1{
      margin-left: 20px;
      font-size: 3.5em;
    }
    img {
      height: 90vh;
    }
  }

  #impact {
    font-size: 1.5rem;
  }
  

  #what {
    img {
      width: 100%;
    }
  }

  #pillars {
    .card {
      height: 450px;
    }
  }
}

@media only screen and (min-width: 1368px) {
  #auth-btn {
    font-size: 1.2rem;
    margin: 5px;
  }
  #home {
    section {
      padding: 20px 120px;
    }
  }
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  margin-bottom: 100px;
}

.btn-hover {
  width: 320px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.green {
     background-image: linear-gradient(to right, #AED453,#049A61, #65BB59, #049A61);  box-shadow: 0 5px 15px rgba(97, 242, 97, 0.4);
}

.btn-hover.red {
  background-image: linear-gradient(to right, #e7772c,#c0392b, #e45f3e, #af3022);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-hover:disabled {
  background-image: linear-gradient(to right, rgb(196, 196, 196),rgb(196, 196, 196));  box-shadow: 0 5px 15px rgba(175, 175, 175, 0.4);
}

#loginPage, #registerPage { 

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 40px auto 100px;
  padding: 45px;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
    
  }

  button.outline {
    background-color: #FFF;
    border: thin solid #4CAF50;
    color: #4CAF50;

    &:hover {
      background-color: #fafafa;
    }
  }


  button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }

  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;

    a {
      color: #4CAF50;
      text-decoration: none;
    }
  }
}
}

#loginPage .register-form {
  display: none;
}

#registerPage .login-form {
  display: none;
}

#subscription-page {
  margin-top: 100px;

  section {
    margin-bottom: 100px;
  }
  select {
    -webkit-appearance: menulist;
  }
  .card {
    border-radius: 1.5rem;
    max-width: 600px;
  }

  .btn-hover {
    max-width: 350px;
    min-width: 250px;
    width: 50%;
  }

  .check-card {
    list-style: none;
    margin: 40px auto;
    padding: 0px;
    width: 300px;
  }
  .check-card .check-card-item {
    position: relative;
    width: 100%;
    margin: 0 1% 15px;
    font-size: 16px;
    overflow: hidden;
  }
  .check-card li label {
    display: block;
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: 100;
    cursor: pointer;
  }
  .check-card .check-card-body {
    height: 300px;
    color: #000;
    z-index: 2;
    position: relative;
    border: medium solid rgba(0, 0, 0, 0);
    border-radius: 1.6rem;
    transition: border-color 0.3s;

  }
  .check-card .check-card-body-in {
    padding: 40px 20px 20px;
  
  }
  .check-card .check-card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    margin-bottom: 5px;
  }
  .check-card .check-card-bg,
  .check-card .check-card-toggle {
    position: relative;
    background: #31A95D;
    width: 36px;
    height: 36px;
    top: 10px;
    left: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .check-card .check-card-bg {
    position: absolute;
    background: #EDF6E5;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transform:scale(1);
    transform:scale(1);
    z-index: 0;
  }
  .check-card .check-card-toggle span {
    position: absolute;
    display: block;
    width: 20px;
    margin-left: -10px;
    height: 1px;
    top: 50%;
    left: 50%;
    background: #fff;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
  .check-card .check-card-toggle span:first-child {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .check-card input[type=checkbox] {
    display: none;
  }
  .check-card input[type=checkbox]:checked ~ .check-card-body .check-card-toggle span {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .check-card input[type=checkbox]:checked ~ .check-card-body .check-card-toggle span:first-child {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .check-card input[type=checkbox]:checked ~ .check-card-bg {
    -webkit-transform:scale(25);
    transform:scale(25);
  }


  .check-card input[type=checkbox]:checked ~ .check-card-body {
    border: medium solid #B5D653;
    
    transition: border-color 0.3s ease;
  }
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


// CREDIT CARD STYLE

.credit-card-box {
  perspective: 1000;
  width: 300px;
  height: 280px;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    backface-visibility: hidden;
    // background: linear-gradient(135deg, #7EC46A,#018134);
    background: linear-gradient(135deg, #FFF,#f1f1f1);
    position: absolute;
    color: #555;
    
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
    box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);

    &::before {
      content: '';
      background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .05;
    }
  }

  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 60px;

    svg {
      width: 100%;
      height: auto;
      fill: #fff;
    }
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .back {
    transform: rotateY(180deg);

    .logo {
      top: 185px;
    }

  }

  .chip {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, #D2BC6F, #F6E3B8);;
    border-radius: 8px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 4px solid hsla(0, 0, 50, .1);
      width: 80%;
      height: 70%;
      border-radius: 5px;
    }
  }

  .strip {
    background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    left: 0;
  }

  .number {
    position: absolute;
    margin: 0 auto;
    top: 83px;
    left: 19px;
    font-size: 22px;
  }

  label {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px;
  }

  .card-holder,
  .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 150px;
    left: 19px;
    font-size: 16px;
    text-transform: capitalize;
  }

  .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
  }

  .ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 110px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    text-align: right;
    padding: 10px;

    label {
      margin: -25px 0 14px;
      color: #fff;
    }
  }


}

/* FAQ STYLES START */

.faq-section {
  background: #fdfdfd;
  padding: 10vh 0 0;
}
.faq-title h2 {
position: relative;
margin-bottom: 45px;
display: inline-block;
font-weight: 600;
line-height: 1;
}
.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #4CAF50;
  bottom: -25px;
  margin-left: -30px;
}
.faq-title p {
padding: 0 190px;
margin-bottom: 10px;
}

.faq {
background: #FFFFFF;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
border-radius: 4px;
}

.faq .card {
border: none;
background: none;
border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
padding: 0px;
border: none;
background: none;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: #B5D65322;
  padding-left: 10px;
}
.faq .card .card-header .faq-title {
width: 100%;
text-align: left;
padding: 0px;
padding-right: 30px;
font-weight: 400;
font-size: 15px;
letter-spacing: 1px;
color: #2A2E32;
text-decoration: none !important;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
cursor: pointer;
padding-top: 20px;
padding-bottom: 20px;
}

.faq .card .card-header .badge {
display: inline-block;
width: 25px;
height: 25px;
line-height: 18px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
text-align: center;
background: #4CAF50;
color: #fff;
font-size: 12px;
margin: 18px 15px 0px 15px;
}

.faq .card .card-body {
padding: 30px;
padding-left: 35px;
padding-bottom: 16px;
font-weight: 400;
font-size: 16px;
color: rgb(56, 61, 66);
line-height: 28px;
letter-spacing: 1px;
border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
margin-bottom: 14px;
}

@media (max-width: 991px) {
.faq {
  margin-bottom: 30px;
}
.faq .card .card-header 
  .badge {
    margin-top: 32px;
  }

  .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

/* FAQ STYLES END*/