---
---

body {
  margin: 0;
  background-color: #FFF;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 50px;
}

#auth-btn {
  position: absolute;
  top: 10px;
  right: 20px;
}

#home {
  padding: 0;
  section {
    padding: 20px;
    margin-bottom: 50px;
  }
}

#banner {
  h1 {
    margin-left: 10px;
    margin-top: calc(40vh + 30px);
    margin-bottom: 100px;
  }
  img {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    height: 40vh;
  }
}

#what {
  img {
    width: 80vw;
  }
}

#impact {
  width: 100%;
  color: white;
  margin: 0;
  background-color: #4CAF50;
  font-size: 1.2rem;
}

#pillars {
  background-size: contain;
  background-repeat: no-repeat;
  .card {
    width: 350px;
    font-size: 0.8rem;
    height: 100%;
    padding: 30px 0;
  }
  img {
    width: 100px;
  }
}

#steps {
  img {
    opacity: 80%;
  }
}


@media only screen and (min-width: 576px) {
  #banner {
    img {
      height:60vh;
    }
  }
}

@media only screen and (min-width: 768px) {
  #home {
    section {
      padding: 20px 80px;
    }
  }

  #banner {
    height: 100vh;
    h1{
      margin-left: 20px;
      font-size: 3.5em;
    }
    img {
      height: 90vh;
    }
  }

  #impact {
    font-size: 1.5rem;
  }
  

  #what {
    img {
      width: 100%;
    }
  }

  #pillars {
    .card {
      height: 450px;
    }
  }
}

@media only screen and (min-width: 1368px) {
  #auth-btn {
    font-size: 1.2rem;
    margin: 5px;
  }
  #home {
    section {
      padding: 20px 120px;
    }
  }
}





.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  margin-bottom: 100px;
}

.btn-hover {
  width: 320px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.green {
     background-image: linear-gradient(to right, #AED453,#049A61, #65BB59, #049A61);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.btn-hover.red {
  background-image: linear-gradient(to right, #e7772c,#c0392b, #e45f3e, #af3022);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}


#loginPage, #registerPage { 

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 40px auto 100px;
  padding: 45px;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 10px;
    
  }

  button.outline {
    background-color: #FFF;
    border: thin solid #4CAF50;
    color: #4CAF50;

    &:hover {
      background-color: #fafafa;
    }
  }


  button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }

  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;

    a {
      color: #4CAF50;
      text-decoration: none;
    }
  }
}
}

#loginPage .register-form {
  display: none;
}

#registerPage .login-form {
  display: none;
}

#subscription-page {
  margin-top: 100px;

  section {
    margin-bottom: 100px;
  }
  select {
    -webkit-appearance: menulist;
  }
  .card {
    border-radius: 1.5rem;
    max-width: 600px;
  }

  .btn-hover {
    max-width: 350px;
    min-width: 250px;
    width: 50%;
  }

  .check-card {
    list-style: none;
    margin: 40px auto;
    padding: 0px;
    width: 300px;
  }
  .check-card .check-card-item {
    position: relative;
    width: 100%;
    margin: 0 1% 15px;
    font-size: 16px;
    overflow: hidden;
  }
  .check-card li label {
    display: block;
    position: absolute;
    height: 300px;
    width: 100%;
    z-index: 100;
    cursor: pointer;
  }
  .check-card .check-card-body {
    height: 300px;
    color: #000;
    z-index: 2;
    position: relative;
    border: medium solid rgba(0, 0, 0, 0);
    border-radius: 1.6rem;
    transition: border-color 0.3s;

  }
  .check-card .check-card-body-in {
    padding: 40px 20px 20px;
  
  }
  .check-card .check-card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    margin-bottom: 5px;
  }
  .check-card .check-card-bg,
  .check-card .check-card-toggle {
    position: relative;
    background: #31A95D;
    width: 36px;
    height: 36px;
    top: 10px;
    left: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .check-card .check-card-bg {
    position: absolute;
    background: #EDF6E5;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -webkit-transform:scale(1);
    transform:scale(1);
    z-index: 0;
  }
  .check-card .check-card-toggle span {
    position: absolute;
    display: block;
    width: 20px;
    margin-left: -10px;
    height: 1px;
    top: 50%;
    left: 50%;
    background: #fff;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
  }
  .check-card .check-card-toggle span:first-child {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .check-card input[type=checkbox] {
    display: none;
  }
  .check-card input[type=checkbox]:checked ~ .check-card-body .check-card-toggle span {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .check-card input[type=checkbox]:checked ~ .check-card-body .check-card-toggle span:first-child {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .check-card input[type=checkbox]:checked ~ .check-card-bg {
    -webkit-transform:scale(25);
    transform:scale(25);
  }


  .check-card input[type=checkbox]:checked ~ .check-card-body {
    border: medium solid #B5D653;
    
    transition: border-color 0.3s ease;
  }
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
